<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="config_dir" default="/workspace/config"/>
  <arg name="kafka_bootstrap" default="kafka:9092"/>
  <arg name="publish_hz" default="2.0"/>
  <arg name="gui" default="false" doc="gzclient (finestra Gazebo); tenere false, headless"/>
  <arg name="scale" default="small" doc="small = R1-R4, large = R1-R8"/>
    <arg name="run_id" default=""/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find shf_bringup)/worlds/warehouse.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="true"/>
    <arg name="debug" value="false"/>
  </include>

    <group ns="R1">
    <param name="robot_description" command="$(find shf_bringup)/scripts/gen_robot_description.sh $(arg model) R1" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="R1" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model R1 -x 0.0 -y 0.0 -z 0.0 -param robot_description" />

    <include file="$(find shf_bringup)/launch/move_base_no_map.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="odom_frame" value="R1/odom"/>
      <arg name="base_frame" value="R1/base_footprint"/>
      <arg name="base_scan_frame" value="R1/base_scan"/>
    </include>

    <node pkg="shf_bringup" type="graph_navigator.py" name="graph_navigator" output="screen">
      <param name="robot_id" value="R1"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="odom_frame" value="R1/odom"/>
    </node>
    <node pkg="shf_bringup" type="kafka_bridge.py" name="kafka_bridge" output="screen">
      <param name="robot_id" value="R1"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="kafka_bootstrap" value="$(arg kafka_bootstrap)"/>
      <param name="run_id" value="$(arg run_id)"/>
      <param name="publish_hz" value="$(arg publish_hz)"/>
    </node>
  </group>

    <group ns="R2">
    <param name="robot_description" command="$(find shf_bringup)/scripts/gen_robot_description.sh $(arg model) R2" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="R2" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model R2 -x 30.0 -y 0.0 -z 0.0 -param robot_description" />

    <include file="$(find shf_bringup)/launch/move_base_no_map.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="odom_frame" value="R2/odom"/>
      <arg name="base_frame" value="R2/base_footprint"/>
      <arg name="base_scan_frame" value="R2/base_scan"/>
    </include>

    <node pkg="shf_bringup" type="graph_navigator.py" name="graph_navigator" output="screen">
      <param name="robot_id" value="R2"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="odom_frame" value="R2/odom"/>
    </node>
    <node pkg="shf_bringup" type="kafka_bridge.py" name="kafka_bridge" output="screen">
      <param name="robot_id" value="R2"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="kafka_bootstrap" value="$(arg kafka_bootstrap)"/>
      <param name="run_id" value="$(arg run_id)"/>
      <param name="publish_hz" value="$(arg publish_hz)"/>
    </node>
  </group>

    <group ns="R3">
    <param name="robot_description" command="$(find shf_bringup)/scripts/gen_robot_description.sh $(arg model) R3" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="R3" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model R3 -x 10.0 -y -10.0 -z 0.0 -param robot_description" />

    <include file="$(find shf_bringup)/launch/move_base_no_map.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="odom_frame" value="R3/odom"/>
      <arg name="base_frame" value="R3/base_footprint"/>
      <arg name="base_scan_frame" value="R3/base_scan"/>
    </include>

    <node pkg="shf_bringup" type="graph_navigator.py" name="graph_navigator" output="screen">
      <param name="robot_id" value="R3"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="odom_frame" value="R3/odom"/>
    </node>
    <node pkg="shf_bringup" type="kafka_bridge.py" name="kafka_bridge" output="screen">
      <param name="robot_id" value="R3"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="kafka_bootstrap" value="$(arg kafka_bootstrap)"/>
      <param name="run_id" value="$(arg run_id)"/>
      <param name="publish_hz" value="$(arg publish_hz)"/>
    </node>
  </group>

    <group ns="R4">
    <param name="robot_description" command="$(find shf_bringup)/scripts/gen_robot_description.sh $(arg model) R4" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="R4" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model R4 -x -10.0 -y 8.0 -z 0.0 -param robot_description" />

    <include file="$(find shf_bringup)/launch/move_base_no_map.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="odom_frame" value="R4/odom"/>
      <arg name="base_frame" value="R4/base_footprint"/>
      <arg name="base_scan_frame" value="R4/base_scan"/>
    </include>

    <node pkg="shf_bringup" type="graph_navigator.py" name="graph_navigator" output="screen">
      <param name="robot_id" value="R4"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="odom_frame" value="R4/odom"/>
    </node>
    <node pkg="shf_bringup" type="kafka_bridge.py" name="kafka_bridge" output="screen">
      <param name="robot_id" value="R4"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="kafka_bootstrap" value="$(arg kafka_bootstrap)"/>
      <param name="run_id" value="$(arg run_id)"/>
      <param name="publish_hz" value="$(arg publish_hz)"/>
    </node>
  </group>

    <group ns="R5" if="$(eval arg('scale') == 'large')">
    <param name="robot_description" command="$(find shf_bringup)/scripts/gen_robot_description.sh $(arg model) R5" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="R5" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model R5 -x 10.0 -y 10.0 -z 0.0 -param robot_description" />

    <include file="$(find shf_bringup)/launch/move_base_no_map.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="odom_frame" value="R5/odom"/>
      <arg name="base_frame" value="R5/base_footprint"/>
      <arg name="base_scan_frame" value="R5/base_scan"/>
    </include>

    <node pkg="shf_bringup" type="graph_navigator.py" name="graph_navigator" output="screen">
      <param name="robot_id" value="R5"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="odom_frame" value="R5/odom"/>
    </node>
    <node pkg="shf_bringup" type="kafka_bridge.py" name="kafka_bridge" output="screen">
      <param name="robot_id" value="R5"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="kafka_bootstrap" value="$(arg kafka_bootstrap)"/>
      <param name="run_id" value="$(arg run_id)"/>
      <param name="publish_hz" value="$(arg publish_hz)"/>
    </node>
  </group>

    <group ns="R6" if="$(eval arg('scale') == 'large')">
    <param name="robot_description" command="$(find shf_bringup)/scripts/gen_robot_description.sh $(arg model) R6" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="R6" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model R6 -x 30.0 -y 10.0 -z 0.0 -param robot_description" />

    <include file="$(find shf_bringup)/launch/move_base_no_map.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="odom_frame" value="R6/odom"/>
      <arg name="base_frame" value="R6/base_footprint"/>
      <arg name="base_scan_frame" value="R6/base_scan"/>
    </include>

    <node pkg="shf_bringup" type="graph_navigator.py" name="graph_navigator" output="screen">
      <param name="robot_id" value="R6"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="odom_frame" value="R6/odom"/>
    </node>
    <node pkg="shf_bringup" type="kafka_bridge.py" name="kafka_bridge" output="screen">
      <param name="robot_id" value="R6"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="kafka_bootstrap" value="$(arg kafka_bootstrap)"/>
      <param name="run_id" value="$(arg run_id)"/>
      <param name="publish_hz" value="$(arg publish_hz)"/>
    </node>
  </group>

    <group ns="R7" if="$(eval arg('scale') == 'large')">
    <param name="robot_description" command="$(find shf_bringup)/scripts/gen_robot_description.sh $(arg model) R7" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="R7" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model R7 -x 20.0 -y -10.0 -z 0.0 -param robot_description" />

    <include file="$(find shf_bringup)/launch/move_base_no_map.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="odom_frame" value="R7/odom"/>
      <arg name="base_frame" value="R7/base_footprint"/>
      <arg name="base_scan_frame" value="R7/base_scan"/>
    </include>

    <node pkg="shf_bringup" type="graph_navigator.py" name="graph_navigator" output="screen">
      <param name="robot_id" value="R7"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="odom_frame" value="R7/odom"/>
    </node>
    <node pkg="shf_bringup" type="kafka_bridge.py" name="kafka_bridge" output="screen">
      <param name="robot_id" value="R7"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="kafka_bootstrap" value="$(arg kafka_bootstrap)"/>
      <param name="run_id" value="$(arg run_id)"/>
      <param name="publish_hz" value="$(arg publish_hz)"/>
    </node>
  </group>

    <group ns="R8" if="$(eval arg('scale') == 'large')">
    <param name="robot_description" command="$(find shf_bringup)/scripts/gen_robot_description.sh $(arg model) R8" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="R8" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model R8 -x -10.0 -y -8.0 -z 0.0 -param robot_description" />

    <include file="$(find shf_bringup)/launch/move_base_no_map.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="odom_frame" value="R8/odom"/>
      <arg name="base_frame" value="R8/base_footprint"/>
      <arg name="base_scan_frame" value="R8/base_scan"/>
    </include>

    <node pkg="shf_bringup" type="graph_navigator.py" name="graph_navigator" output="screen">
      <param name="robot_id" value="R8"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="odom_frame" value="R8/odom"/>
    </node>
    <node pkg="shf_bringup" type="kafka_bridge.py" name="kafka_bridge" output="screen">
      <param name="robot_id" value="R8"/>
      <param name="config_dir" value="$(arg config_dir)"/>
      <param name="kafka_bootstrap" value="$(arg kafka_bootstrap)"/>
      <param name="run_id" value="$(arg run_id)"/>
      <param name="publish_hz" value="$(arg publish_hz)"/>
    </node>
  </group>
</launch>
